@(mform: Form[CreateLotForm])

@import helper.twitterBootstrap._

    @helper.form(routes.Application.addLot) {
    <fieldset>
    <legend>@Messages("createLot")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputText(mform("min"), '_label -> Messages("createLot.min"), '_showConstraints -> false)
            @helper.inputDate(mform("start"), '_label -> Messages("createLot.start"), '_showConstraints -> false)
            @helper.inputDate(mform("end"), '_label -> Messages("createLot.end"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.createLot")</button>
            </div>              
    </fieldset>
    }

