@(mform: Form[FillAccountForm])

@import helper.twitterBootstrap._

    @helper.form(routes.Application.fillAccountProcess) {
    <fieldset>
    <legend>@Messages("fillAccount")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputText(mform("account"), '_label -> Messages("fillAccount.account"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.fillAccount")</button>
            </div>              
    </fieldset>
    }

