@(mform: Form[RegisterUserForm])

@import helper.twitterBootstrap._

    @helper.form(routes.Application.addUser) {
    <fieldset>
    <legend>@Messages("register")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputText(mform("login"), '_label -> Messages("register.login"), '_showConstraints -> false)
            @helper.inputText(mform("email"), '_label -> Messages("register.email"), '_showConstraints -> false)
            @helper.inputPassword(mform("password"), '_label -> Messages("register.password"), '_showConstraints -> false)
            @helper.inputPassword(mform("repassword"), '_label -> Messages("register.repassword"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.doRegister")</button>
            </div>              
    </fieldset>
    }

