@(user: User, activeItem: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
  <div class="container"> <!-- fix menu items position -->
    <a class="brand" href="/">@util.Helper.getSiteName()</a>
    <ul class="nav pull-left"> 
      <li@if(activeItem.equals("index")) { class="active" }><a href="/">@Messages("navbar.main")</a></li>
      @subjectPresent() { 
      <li@if(activeItem.equals("createLot")) { class="active" }><a href="/createLot"><i class="icon-star"></i>@Messages("navbar.createLot")</a></li>
      <li@if(activeItem.equals("fillAccount")) { class="active" }><a href="/fillAccount"><i class="icon-plus"></i>@Messages("navbar.fillAccount")</a></li>
      }
    </ul>
    <ul class="nav pull-right"> 
      @subjectNotPresent() {
      <li@if(activeItem.equals("login")) { class="active" }><a href="/login"><i class="icon-play-circle"></i>@Messages("navbar.login")</a></li>
      <li@if(activeItem.equals("register")) { class="active" }><a href="/register"><i class="icon-edit"></i>@Messages("navbar.register")</a></li>
      }
      @restrict(la(as(models.SecurityRole.ROLE_ADMIN))) {
      <li@if(activeItem.equals("admin")) { class="active" }><a href="/admin"><i class="icon-edit"></i>@Messages("navbar.admin")</a></li>
      }
      @subjectPresent() { 
      <li@if(activeItem.equals("profile")) { class="active" }><a href="/profile"><i class="icon-user"></i>@user.login</a></li>
      <li@if(activeItem.equals("logout")) { class="active" }><a href="/logout"><i class="icon-off"></i>@Messages("navbar.logout")</a></li>
      }
    </ul>
  </div>
  </div>
</div>
