        <ul class="pager">
          <li class="previous">
            <a href="#">&larr; Prev</a>
          </li>
          <li class="next">
            <a href="#">Next &rarr;</a>
          </li>
        </ul>

