@(user : User)
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li><a href="#">@Messages("profile_nav.fill_account")</a></li>
        <li><a href="#">@Messages("profile_nav.create_lot")</a></li>
      </ul>
      <h5 class="muted">@Messages("profile_nav.account") @user.account руб</h5>
    </div>
