@(user : User)
@base.page(user, "admin") {

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#users_tab" data-toggle="tab">@Messages("admin.users")</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="users_tab">
<!--
   TODO: Find by pattern form
	<form>
          <select name="sele" size="1">
            <option value="@User.FIELD_ID">Messages("admin.user.id")</option>
            <option value="@User.FIELD_LOGIN">Messages("admin.user.login")</option>
            <option value="@User.FIELD_EMAIL">Messages("admin.user.email")</option>
            <option value="@User.FIELD_ACCOUNT">Messages("admin.user.account")</option>
          </select>

          <div class="input-append">
	    <input class="span2" id="appendedInputButtons" type="text" placeholder="pattern">
	    <button class="btn" type="submit">Search</button>
	  </div>
	</form>


	<div class="pagination pagination-centered">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">Next</a></li>
          </ul>
	</div>
-->
	@base.pagger()
<!--	<ul class="pager">
	  <li class="previous">
	    <a href="#">&larr; Prev</a>
	  </li>
	  <li class="next">
	    <a href="#">Next &rarr;</a>
	  </li>
	</ul>-->

        <table class="table table-striped" id="users_table">
          <thead>
            <tr>
              <th>@Messages("admin.user.id")</th>
              <th>@Messages("admin.user.login")</th>
              <th>@Messages("admin.user.email")</th>
              <th>@Messages("admin.user.account")</th>
              <th>@Messages("admin.user.actions")</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
   </div>
</div>



}
