     <div id="lots_container">
	@base.pagger()
        <table class="table table-striped" id="lots_table">
          <thead>
            <tr>
              <th>@Messages("profile.lot_number")</th>
              <th>@Messages("profile.lot_account")</th>
              <th>@Messages("profile.lot_min")</th>
              <th>@Messages("profile.lot_start")</th>
              <th>@Messages("profile.lot_end")</th>
              <th>@Messages("profile.owner")</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
     </div>
