@(lotsList : List[Lot]) 

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

              @for(lot <- lotsList) {
              <tr>
                <td>@lot.id</td>
                <td>@lot.account</td>
                <td>@lot.min</td>
                <td>@lot.start</td>
                <td>@lot.end</td>
                <td>@lot.getOwner().getLogin()</td>
		<td>
		  @subjectPresent() {
		  @if(!Application.getUser().id.equals(lot.getOwner().id)) {
		  @if(!(Application.getUser().getAccount()<lot.getAccount() )) {
                  <a href="@routes.Application.takePart(Application.getUser().getId().toString(), lot.id.toString())">принять участие</a>
		  }
                  }
		  }
		</td>
              </tr>
              }
