@(user : User)
@base.page(user, "profile") {

@base.profile_navbar(user)
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">@Messages("profile.lots_member")</a></li>
    <li><a href="#tab2" data-toggle="tab">@Messages("profile.lots_owner")</a></li>
    <li><a href="#tab3" data-toggle="tab">@Messages("profile.lots_all")</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="tab1">
        @if(!user.member_lots.isEmpty()){
	@base.pagger()
        <table class="table table-striped">
          <caption>@Messages("profile.lot_member")</caption>
          <thead>
            <tr>
              <th>@Messages("profile.lot_number")</th>
              <th>@Messages("profile.lot_account")</th>
              <th>@Messages("profile.lot_min")</th>
              <th>@Messages("profile.lot_start")</th>
              <th>@Messages("profile.lot_end")</th>
              <th>@Messages("profile.owner")</th>
            </tr>
          </thead>
          <tbody>
              @for(lot <- user.member_lots) {
              <tr>
                <td>@lot.id</td>
                <td>@lot.account</td>
                <td>@lot.min</td>
                <td>@lot.start</td>
                <td>@lot.end</td>
                <td>@lot.getOwner().getLogin()</td>
              </tr>
              }
          </tbody>
        </table>
        } else {
        <caption>@Messages("profile.not_lot_member")</caption>
        }
    </div>

    <div class="tab-pane" id="tab2">
        @if(!user.member_lots.isEmpty()){
	@base.pagger()
        <table class="table table-striped">
          <caption>@Messages("profile.lot_owner")</caption>
          <thead>
            <tr>
                <th>@Messages("profile.lot_number")</th>
                <th>@Messages("profile.lot_account")</th>
                <th>@Messages("profile.lot_min")</th>
                <th>@Messages("profile.lot_start")</th>
                <th>@Messages("profile.lot_end")</th>
            </tr>
          </thead>
          <tbody>
              @for(lot <- user.owner_lots) {
              <tr>
                <td>@lot.id</td>
                <td>@lot.account</td>
                <td>@lot.min</td>
                <td>@lot.start</td>
                <td>@lot.end</td>
              </tr>
              }
          </tbody>
        </table>
        } else {
        <caption>@Messages("profile.not_lot_owner")</caption>
        }
    </div>

    
    <div class="tab-pane" id="tab3">
	@lots()
    </div> 
 

  </div>
</div>

}
