@(usersList : List[User]) 
              @for(user <- usersList) {
              <tr>
                <td>@user.id</td>
                <td><a href="@routes.Application.aprofile(user.id.toString())">@user.login</a></td>
                <td>@user.email</td>
                <td>@user.account</td>
                <td>acions todo</td>
              </tr>
              }
